*{
    padding: 0;
    margin: 0;
    box-shadow: border-box;
}

body{
    background-image: url('Imagenes/Pastasbackground');
    background-size: cover;
    background-position: center;
    color: #333;
    font-family: Arial, sans-serif;
}

header{
    background-color: rgba(0, 0, 0, 0.8);
    color: orangered;
    text-align: center;
    padding: 10px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    margin-bottom: 20px;
}

.navbar{
    margin-top: 20px;
}

main{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.variedades{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.pasta{
    flex: 1 1 200px;
    margin: 10px;
    height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    animation: flex-end;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
}

.pasta a{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;
}

.tallarines {
    background-image: url('Imagenes/tallarines.jpeg');
 }

 .noquis{
    background-image: url('Imagenes/noqui2.jpg');
 }

 .ravioles{
    background-image: url('Imagenes/ravioles.jpg');
 }

 .canelones{
    background-image: url('Imagenes/canelones.avif');
 }

 .lasagna{
    background-image: url('Imagenes/lasagna.jpeg');
 }






