body, html{
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url('imagenes/menualdente.png');
    height: 100%;
    background-position: center;
    position: relative;
    display: flex;   
}

.bg a{
    text-decoration: none;
    color: white;
    position: absolute;
    bottom: 5px;
    right: 180px;
}

.bg a button{
    font-size: 1em;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgba (0, 0, 0, 0.5);
}