* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('imagenes/portadasinnombre.png');
    background-size: cover;
    background-position: center;
    color: #333;    
}

.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .header-reservas{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size:larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    margin-top: 20px;
}

main {
    margin-top: 20px;
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 10px;  
    width: 84%;
    height: 75%;
    margin-top: 20px;
    margin-left: 8%;  
}

.social-icon {
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.social-icon a{
    display: inline-block;
}
.social-icon img {
    width: 40px;
    height: 40px;
}
